<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Shopping Cart</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${title}"></h1>

<h2>Catalog:</h2>
<table>
  <thead>
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Price</th>
    <th>Add to Cart</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item : ${availableItems}">
    <td><img th:src="@{/static.images/__${filename}__(filename=${item.imageFileName})}" width="50" height="50"/></td>
    <td th:text="${item.name}"></td>
    <td th:text="${item.description}"></td>
    <td th:text="${item.price}"></td>
    <td>
      <form method="post" action="/cart/add">
        <input type="hidden" name="itemId" th:value="${item.itemId}">
        <input type="number" name="quantity" value="1" min="1">
        <button type="submit">Add to cart</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<h2>Cart:</h2>
<table>
  <thead>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="cartItem : ${cartItems}">
    <td th:text="${cartItem.key.name}"></td>
    <td th:text="${cartItem.value}"></td>
    <td th:text="${cartItem.key.price}"></td>
    <td th:text="${cartItem.key.price * cartItem.value}"></td>
    <td>
      <form method="post" action="/cart/remove">
        <input type="hidden" name="itemId" th:value="${cartItem.key.itemId}">
        <input type="number" name="quantity" value="1" min="1">
        <button type="submit">Remove</button>
      </form>
    </td>
  </tr>
  <tr>
    <td colspan="3"><b>Total:</b></td>
    <td th:text="${cartTotal}"></td>
  </tr>
  </tbody>
</table>
<a th:href="@{/about}">About Us</a>
<a th:href="@{/faq}">FAQ</a>
<a th:href="@{/support}">Support</a>
</body>
</html>
